@tailwind base;
@tailwind components;
@tailwind utilities;

.star-svg {
  animation: floater 2s ease-in-out 1s infinite alternate none;
}

.upload-btn {
  .resetarrow {
    animation: arrow-sync 0.5s linear 0s infinite normal forwards;
  }
}

@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes arrow-sync {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.activeBtn {
  background: linear-gradient(to bottom, #00ccdd, #000);
}

.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
